* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > div {
    background-color: #d4a80a;
    height: 520px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 2px #000000ae;
}

hr {
    border: 2px solid black;
    margin-bottom: 30px;
}

input {
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 10px;
}

button {
    font-size: 18px;
    background-color: black;
    color: #d4a80a;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
    padding: 10px 115px;
}

section > div {
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: #d4a80a;
    margin: 20px 50px 50px;
    padding: 20px;
    height: 150px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #00000072;
}